<?xml version="1.0" encoding="Cp1252"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
    version="2.4">

  <description> Talento Uruguayo </description>
  <display-name> Talento Uruguayo </display-name>

  <servlet>
    <servlet-name>ListarFinalistas</servlet-name>
    <servlet-class>servlets.ListarFinalistas</servlet-class>
    
  	<init-param>
		<param-name>ipServidor</param-name>
		<param-value>localhost</param-value>
 	 </init-param>
  
 	 <init-param>
		<param-name>puertoServidor</param-name>
		<param-value>1099</param-value>
 	 </init-param>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>ListarFinalistas</servlet-name>
    <url-pattern>/Ingreso</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>VotoPublico</servlet-name>
    <servlet-class>servlets.VotoPublico</servlet-class>
    
  <init-param>
	<param-name>ipServidor</param-name>
	<param-value>localhost</param-value>
  </init-param>
  
  <init-param>
	<param-name>puertoServidor</param-name>
	<param-value>1099</param-value>
  </init-param>
  
  </servlet>
 
  <servlet-mapping>
    <servlet-name>VotoPublico</servlet-name>
    <url-pattern>/VotoPublico</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
	<welcome-file>/Ingreso.jsp</welcome-file>
  </welcome-file-list>

</web-app>